html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(0deg, #d4f1f1, #97e0a0, #2db425);
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: start;
  margin-top: 10rem;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.card {
  background-color: #fff;
  padding: 3rem;
  border-radius: 2rem;
}

.title {
  text-align: center;
}

.input__div {
  display: flex;
  font-size: 2rem;
  gap: 2rem;
  margin-top: 4rem;
}

.input__div div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input {
  max-width: 8rem;
  border-radius: 2rem;
}

.list {
  min-height: 20rem;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #dadada;
  border-radius: 2rem;
}

.btn {
  border-radius: 2rem;
  padding: 0.5rem;
}

.btn:hover {
  cursor: pointer;
}

.notification {
  border-radius: 2rem;
  background: #2db425;
  font-size: 2rem;
}

.transaction {
  background: red;
}
.no__money {
  background: rgb(235, 153, 45);
}

#sort {
  padding: 0.4rem;
  border-radius: 2rem;
}
